@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  line-height: 30px;
  margin: 30px;
  padding-top: 10px;
  position: relative;
  width: 150px;
  height: 150px;
}

.countdown-item span {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
